.navbar {
    margin-left:10%;
    margin-right:10%;
    color:white;
    position:fixed;
}

.navbar a:hover {
background-color: blue;
color: black;
padding-top: 10px;
padding-bottom: 10px;
}

.navbar a.active {
background-color: #4CAF50;
color: navbar-light;
padding-bottom: 10px;
padding-top: 10px;
}

.text-container {
    margin-top:70px;
    margin-left:10%;
    margin-right:10%;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

@media (min-width:278px) and (max-width:575px) {
    .text-container {
        margin-top:200px;
        margin-left:0%;
        margin-right:0%;
    }

    .navbar {
        margin-left:0%;
        margin-right:0%;
    }
}

@media (max-width:277px){
    .text-container {
        margin-top:240px;
        margin-left:0%;
        margin-right:0%;
    }

}




