.navbar {
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 20px;
    color:white;
}

.text-container {
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
}

.navbar a:hover {
background-color:blue;
color: black;
}

.navbar a.active {
background-color: #4CAF50;
color: navbar-light;
}

.contact-page::first-letter {
    text-transform: capitalize;
}

.right-align {
    float:right;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.grid-margin {
    margin-right: 10px;
}

.contact-box {
    text-align:left;
    width:40px;
}