.navbar a:hover {
background-color: blue;
color: black;
}

.navbar a.active {
background-color: #4CAF50;
color: navbar-light;
}


.text-container {
    margin:5%;
}

.home-page-paragraph {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:5%;
    margin-right:5%;
}

div.about-me-text {
    margin-left:5%;
    margin-right:5%;
}


@media(min-width:800px) {
    navbar {
        background-color:purple;
    }
}

